body {
    position: relative;

}

/*       custom style for navigation bar */

.navbar.bg-dark {
    background-color: #05901f !important;
    padding: 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(236, 237, 237, 0.8);
    display: block;
    padding: 0.9rem 0.2rem;
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link.active {
    background-color: green;
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: green;
    color: white !important;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel {
    margin-top: 50px;
}
.carousel-caption {
    bottom: 70px;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*  background: rgba(17, 196, 45, 0.63); */
}

.carousel-indicators li {
    margin-bottom: 10px;
    height: 20px;
}

/*

style for upcoming TOURNAMENT
*/

.setting {
    padding: 70px 0px;
}

#UPCOMING {
    background-color: #f9f9f9;
}

.heading h1 span {
    position: relative;
}
.heading h1 span:after {
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    border-bottom: 4px solid #05901f;
    border-radius: 2px;
    bottom: -2px;
    left: 50%;
    margin-left: -9.5%;
}

.heading {
    padding-bottom: 45px;
}

.up {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
}

.card {
    margin-bottom: 30px;
}

/** COACH  */
#COACH {
    background-color: #f9f9f9;
}
.coach {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    margin-bottom: 30px;
    text-align: center;
}
.title {
    color: grey;
    font-size: 18px;
}
.coach a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
a.enrollB {
    border: none;

    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #05901f;
    text-align: center;
    width: 100%;
    font-size: 18px;
    border-radius: 0px;
}

/** Gallery  */

.gallery a {
    text-decoration: none;
    padding: 5px;
    float: left;
    width: 25%;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* CEO */

.ceoB {
    background-color: #8dba23;
    width: 100%;
}

/* Team contact button */

.team-help-button .button-team {
    background-color: #05901f;
    color: white;
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 14px;
    margin-top: 20px;
}

.team-img {
    margin-bottom: 20px;
}
#TEAM {
    background-color: #f9f9f9;
}
/**** footer  ***/

#FOOTER {
    background-color: #8dba23;
}
.footer-setting {
    padding: 40px 0px;
    color: #e5e6e9;
}
.left-side button {
    border-radius: 20%;
    background-color: #05901f;
}

.form-setting {
    background-color: white;
    padding: 10px 19px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.form-setting .input-color {
    color: #e7aa23;
    font-size: 15px;
}

.card-img {
    transition: all 1s ease;
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
}

.custom-card:hover > *:not(.card-img-overlay) {
    transition: all 1s ease;
    -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}

/*   media quries    */


@media only screen and (max-width: 600px) {

 h1{
   font-size: 26px;;
 }
 .setting {
  padding: 20px 0px;
}
.btn{

}
}
